<template>
	<div id="app">

		<te-line title="最小化" type="success" size="small">
			<span slot="descript" align="right">附属提示，居右显示</span>
		</te-line>
		<te-line title="默认" type="primary" size="small">
			<span slot="descript">你可以从下属列表中选择一个类型</span>
		</te-line>
		<te-line title="突出显示-警告" size="small" type="warning">
			<span slot="descript">为了突出重要性，加粗显示</span>
		</te-line>
		<te-line title="突出显示-警告" size="small" type="error">
			<span slot="descript">为了突出重要性，加粗显示</span>
		</te-line>
		<hr>
		<te-line title="最小化" type="success">
			<span slot="descript" align="right">附属提示，居右显示</span>
		</te-line>
		<te-line title="默认" type="primary">
			<span slot="descript">你可以从下属列表中选择一个类型</span>
		</te-line>
		<te-line title="突出显示-警告" type="warning">
			<span slot="descript">为了突出重要性，加粗显示</span>
		</te-line>
		<te-line title="突出显示-警告" type="error">
			<span slot="descript">为了突出重要性，加粗显示</span>
		</te-line>
		<hr>
		<te-line title="最小化" type="success" size="big">
			<span slot="descript" align="right">附属提示，居右显示</span>
		</te-line>
		<te-line title="默认" type="primary" size="big">
			<span slot="descript">你可以从下属列表中选择一个类型</span>
		</te-line>
		<te-line title="突出显示-警告" size="big" type="warning">
			<span slot="descript">为了突出重要性，加粗显示</span>
		</te-line>
		<te-line title="突出显示-警告" size="big" type="error">
			<span slot="descript">为了突出重要性，加粗显示</span>
		</te-line>
	</div>
</template>
<script>
import teLine from '../src/main'
export default {
	components: {
		teLine
	},
	name: 'App'
}
</script>
<style lang="less">
</style>