<template>
	<div class="te-line" :class="['te-line-' + size, 'te-line-' + type]">
		<span></span>
		<label>{{title}}</label>
		<div class="descript">
			<slot name="descript"></slot>
		</div>
	</div>
</template>
<script>
export default {
	name: 'TeLine',
	props: {
		// 显示文字
		title: {
			required: true
		},
		// 尺寸
		size: {
			default: 'default',
			type: String,
			validator: (value = 'default') => {
				return ['small', 'default', 'big'].indexOf(value) !== -1
			}
		},
		type: {
			default: 'primary',
			type: String
		}
	},
	data() {
		return {}
	}
}
</script>
<style lang="less">
.colors() {
	primary: #0050b3;
	success: #29b87a;
	warning: #ad6800;
	error: #a8071a;
}
.te-line {
	display: flex;
	align-items: center;
	&>span {
		display: block;
		width: 3px;
		height: 16px;

	}
	&>label {
		padding: 0 6px;
		color: #343a43;
		font-size: 14px;
		font-weight: bold;
	}
	.descript {
		flex-grow: 1;
		font-size: 14px;
		[align=right] {
			display: inline-block;
			width: 100%;
			text-align: right;
		}
	}
	&-small {
		&>span {
			height: 14px;
			width: 2px;
		}
		&>label {
			padding: 0 4px;
			font-size: 12px;
		}
		.descript {
			font-size: 12px;
		}
	}
	&-big {
		&>span {
			height: 20px;
			width: 4px;
		}
		&>label {
			padding: 0 8px;
			font-size: 18px;
		}
		.descript {
			font-size: 16px;
		}
	}
	each(.colors(), .(@value, @key) {
		&-@{key} > span {
			background: @value;
		}
		&-@{key} > label {
			color: @value;
		}
	}
	)
}
</style>